---
import { languages } from 'src/lib/i18n/ui'
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import Base from 'src/layouts/Base.astro'
import DesktopNavigation from 'src/components/doc/DesktopNavigation.astro'
import MobileNavigation from 'src/components/doc/MobileNavigation.svelte'
export const getStaticPaths = (async () => {
	const allDoc = await getCollection('documentation')
	return allDoc.map((el) => {
		const [currentLang, filename] = el.slug.split('/')
		const slug = filename.replace(/\d+-/, '')
		return {
			params: {
				lang: currentLang,
				slug
			},
			props: {
				...el
			}
		}
	})
}) satisfies GetStaticPaths

const { data, render } = Astro.props
const { title } = data
const lang = Astro.params.lang as keyof typeof languages

const navItems = (await getCollection('documentation'))
	.filter((el) => {
		const [currentLang] = el.slug.split('/')
		return currentLang === lang
	})
	.sort((a, b) => a.slug.localeCompare(b.slug, 'en', { numeric: true }))

const { Content } = await render()

const { slug } = Astro.params
---

<Base title={title}>
	<MobileNavigation items={navItems} lang={lang} currentSlug={slug} client:idle />
	<div class="flex">
		<DesktopNavigation lang={lang} items={navItems} currentSlug={slug} />
		<main class="w-full px-4" data-pagefind-body>
			<div class="prose mx-auto py-8">
				<Content />
			</div>
		</main>
	</div>
</Base>
