---
import Logo from 'src/components/Logo.astro'
import { getLangFromUrl, useTranslations } from 'src/lib/i18n/utils'

import { languages } from 'src/lib/i18n/ui.ts'
import Dropdown from './Dropdown.svelte'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<header
	class="sticky top-0 z-10 flex h-[var(--header-height)] items-center border-b bg-gray-50 text-gray-900"
>
	<div class="flex w-full items-center gap-6 px-4">
		<a href={`/${lang}`} class="logo flex items-center gap-2">
			<Logo />
			<span class="sr-only">Logo</span>
			<span class="text-xl font-bold">Odyc</span>
		</a>

		<nav class="ml-auto">
			<ul class="flex gap-8">
				<li>
					<a href={`/${lang}/documentation/overview`} class="underline-offset-4 hover:underline"
						>{t('nav.documentation')}</a
					>
				</li>
				<li>
					<a href={`/${lang}/tutorial`} class="underline-offset-4 hover:underline"
						>{t('nav.tutorial')}</a
					>
				</li>
				<li>
					<a href={`/${lang}/playground`} class="underline-offset-4 hover:underline"
						>{t('nav.playground')}</a
					>
				</li>
			</ul>
		</nav>
		<Dropdown client:idle>
			<span slot="current" class="">{languages[lang]}</span>
			<ul class="grid w-32 gap-4 px-4 py-4 text-gray-900 shadow">
				{
					Object.keys(languages).map((el) => {
						//@ts-ignore
						const current = languages[el]
						const reg = new RegExp(`/${lang}/|/${lang}$`)
						const href = String(Astro.url).replace(reg, `/${el}/`)
						// const [_, ...slug] = Astro.url.split("/");
						return (
							<li>
								<a {href} class="hover:text-blue-800">
									{current}
								</a>
							</li>
						)
					})
				}
			</ul>
		</Dropdown>
	</div>
</header>

<style is:global>
	:root {
		--header-height: 3.5rem;
	}
	.logo svg {
		height: 2.5rem;
	}
</style>
